<h1>Listing hangmen</h1>

<h2>Word: <%= @word.word %></h2>

<!-- <table>
  <thead>
    <tr>
      <th>Word</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hangmen.each do |hangman| %>
      <tr>
        <td><%= hangman.word %></td>
        <td><%= link_to 'Show', hangman %></td>
        <td><%= link_to 'Edit', edit_hangman_path(hangman) %></td>
        <td><%= link_to 'Destroy', hangman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<%= link_to 'New Hangman', new_hangman_path %>
